#youtube-panel>.panel-heading {
    background-color: #cd201f;
    color: #e8e4e9;
}

#twitch-panel>.panel-heading {
    background-color: #6441A4;
    color: #e8e4e9;
}

#btn-youtube-connect {
    background-color: #cd201f;
    color: #e8e4e9;
}

#btn-twitch-connect {
    background-color: #6441A4;
    color: #e8e4e9;
}

.video_description>p {
    margin: 0;
}

.spy-youtube, .spy-twitch {
    height: 85%;
    position: relative;
    overflow-y: scroll;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(244, 237, 248, 0.8);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.0);
}

@media (min-width: 768px) {
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: rgba(235, 228, 239, 0.8);
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0,0,0,0.0);
    }
}


.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    width: 32%; /* To split the tab in 3 in one line. */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#video_list .list-group-item {
    border: 1px double rgba(0, 0, 0, 0.24);
}

.nav-tabs {
    border: 1px double rgba(0, 0, 0, 0.24);
}

.nav-tabs>.active {
    border-top: transparent;
    border-bottom: transparent;
}

.tab-pane {
    border: 1px double rgba(0, 0, 0, 0.24);
    border-top: transparent;
    padding-left: 1px;
    padding-right: 1px;
}

.video_description p {
    text-overflow: ellipsis;
}

.video_description {
    height: 80px;
}